@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');



/* ! */
.nothing {
    overflow: hidden;
}

.none {
    display: none !important;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    color: #000;
}

.img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.header__container {
    padding: 54px 245px 65px 230px;
}

.main__container {
    padding: 65px 245px 130px 245px;
}

/* Header  */
.header-main {
    background: linear-gradient(to right, white 56%, #F1EADC 44%);
}

.headaer {
    position: relative;
}

.header-nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 28px;
}

.logo-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    gap: 45px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.navigation:first-child {
    color: #6E9C9F;
}

.navigation a {
    transition: all 0.2s ease;
}

.navigation a:hover {
    text-decoration: underline;
    color: #6E9C9F;
}

.contacts-basket {
    display: flex;
    gap: 65px;
    align-items: center;
}

.call {
    display: flex;
    gap: 10px;
    align-items: center;
}

.call p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
}


/* Header Content  */

.header-content__row {
    display: flex;
    gap: 100px;
}

.new-at-season__column {
    display: flex;
    flex-direction: column;
}

.new-at-season__column h2 {
    width: 585px;
    padding-top: 186px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    padding-bottom: 45px;
}

.new-at-season__column p {
    max-width: 385px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    padding-bottom: 52px;
}

.shop-link {
    max-width: 300px;
}

.shop-link-holder {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
}

.shop-link-holder img {
    background-color: rgba(110, 156, 159, 0.1);
    max-width: 67px;
    max-width: 67px;
    padding: 20px 27px;
}

.shop-link-holder p {
    background-color: #6E9C9F;
    padding: 20px 50px;
    width: 230px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.shop-link:hover p {
    background-color: rgba(110, 156, 159, 0.1);
    color: #6E9C9F;
}

.shop-link:hover .shop-link-holder {
    border: 1px solid #6E9C9F;
}

.season-images__column {
    position: relative;
    padding-top: 120px;
    padding-left: 50px;
    width: 705px;
    height: 825px;
}

.season-img1 {
    position: absolute;
}

.season-img2 {
    position: absolute;
    right: -25%;
    top: 30%;
}

.season-img3 {
    position: absolute;
    bottom: 0;
    left: -20%;
}


/* Main  */

.main h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
}

.new-collection-products__row {
    padding: 92px 0 65px;
    display: flex;
    gap: 30px;
    transition: all 0.2s ease;

}

.overlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(110, 156, 159, 0.5);
    width: 100%;
    height: 84.5%;
    transition: all 0.25s ease-in;

    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.overlay img {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    background: radial-gradient(rgba(110, 156, 159, 0.925), rgba(110, 156, 159, 0.1));
    border-radius: 50%;
    padding: 25px 20px 0 20px;
}

.new-collection-item:hover .overlay {
    clip: rect(0 0 0 0);
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    top: 0;
    left: 0;
    transform: translateY(0);

    width: 100%;
    height: 84.5%;
}

.new-collection-item {
    text-align: center;
    transition: all 0.2s ease;
    position: relative;
}

.new-collection-item img {
    position: relative;
    padding-bottom: 25px;
}

.item-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
}

.item-prise {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #998E78;
    margin: 0;
    padding-bottom: 5px;
}


.open-shop {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    text-align: center;
    padding: 20px 50px;
}


.open-shop a {
    border: 1px solid #6E9C9F;
    transition: all 0.2s ease;
}

.open-shop a:hover {
    background-color: #6E9C9F;
    color: #FFF;
}


/* Important for us  */

.important-for-us {
    padding: 130px 0;
}

.description__row {
    display: flex;
    gap: 75px;
    align-items: flex-start;
}

.important-for-us h3 {
    padding-bottom: 90px;
}

.description-item {
    height: 100%;
}

.description-item img {
    padding-bottom: 35px;
}

.description-item h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
}

.description-item p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}


/* Dream team  */
.dream-team h3 {
    padding-bottom: 90px;
}

.team__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-info__column {
    max-width: 255px;
}

.team-info__column h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-bottom: 30px;
}

.team-info__column p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-bottom: 20px;
}

.about-brand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    transition: all 0.2s ease-in;
}

.about-brand:hover {
    text-decoration: underline;
}


/* Footer  */
.footer {
    background-color: #F1EADC;
}

.footer-container {
    padding: 100px 245px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.rights__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all-rights {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.02em;
}


.socials__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: right;
    align-items: flex-end;
}

.call {}

.email {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    /* identical to box height, or 21px */

    letter-spacing: 0.02em;
}

.social-icons__row {
    display: flex;
    gap: 10px;
    align-items: center;
}